/* 여러 줄로 작성하는 법 */
.box {
    width: 400px;
    height: 400px;
    border-color: blue;
    border-style: solid;
    border-width: 5px;
}

/* 한 줄로 작성하는 법 */
.box2 {
    width: 600px;
    height: 600px;;
    border: 5px dashed red;
}

.box3 {
    width: 600px;
    height: 600px;;
    border-right: 5px solid green;
}

.box4 {
    width: 600px;
    height: 600px;;
    border: 5px solid purple;
    border-bottom: none;
}